* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */

}

.font-shadow{
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/open-sans.extrabold-webfont.eot');
    src: url('../fonts/open-sans.extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.extrabold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.extrabold-webfont.woff') format('woff'),
         url('../fonts/open-sans.extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.head {
	height: 846px;
	background: url(../img/mountain.jpg) 50% 0 no-repeat;
	font-family: 'League Gothic Regular', Arial, sans-serif;
	position: relative;
    margin: 0 auto;
}


nav {
	width: 961px;
    height: 219px;
    margin: 0 auto;
    padding: 60px 0 0 373px;
}

.logo {
	font-size: 48px;
	color: #FFFFFF;
}

.head .logo span{
    background: 
    -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(51,38,58,1)));
    background: 
    -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(51,38,58,1) 100%);
    -webkit-background-clip: text;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
}

.menu {
	float: right;
}

.menu__item {
	display: inline-block;
	margin: 9px 0px 0px 50px; 
}

.menu__item__link {
	font-size: 24px;
	color: #FFFFFF;
	position: relative;

}

.menu__item__link:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 102%;
    height: 2px;
    background: #edbfff;
    visibility: hidden;
}

.menu__item__link:hover:before {
    visibility: visible;
}

.slider {
    height: 400px;
    background: rgba(0,0,0,0.2);
    position: relative;
}

.media{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    border-top: 1px solid transparent;
}

.media-text {
	display: block;
    float: left;
    color:#fff;
    width: 55%
}

.media-text--hed {
    margin: 76px 0 0;
    font-size: 60px;
}

.media-text--body {
    font-size: 32px;
    color: #edbfff;
}

.media-text--paragraph {
	padding: 8px 0;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Open Sans Light';
} 

.media-phone {
	top: 0px;
    right: 0px;
    float: right;
    width: 45%;
    height: 400px;
}

.media-phone img{
    position: absolute;
    top: -18px;
    right: 71px;
}

.left_shape {
	width: 22px;
	height: 34px;
	background: url(../img/left_shape.png) 0 0 no-repeat;
	float: left;
	position: absolute;
	top: 50%;
	left: -180px;
	outline: none;
	border: none;
}

.right_shape {
	width: 22px;
	height: 34px;
	background: url(../img/right_shape.png) 0 0 no-repeat;
	float: right;
	position: absolute;
	top: 50%;
	right: -180px;
	outline: none;
	border: none;
}

.dotnav{
    margin-top: 0px;
    margin-left: 900px;
}

.dotnav__link{
    display: block;
    width: 17px;
    height: 17px;
}
.dotnav__item{
    width: 17px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}
.dotnav__item:hover{
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
}

/*ABOUT*/
.about-main {
    height: 342px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    background: rgb(116, 80, 131);
    background: -moz-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -webkit-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -o-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -ms-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: linear-gradient(180deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
}
.about_text {
    margin: 0 auto;
    width: 960px;
}
.about{
  /*  display: inline-block;*/

	float: left;
    width: 32.33%;
    padding: 77px 0 0 0px;
    color: #fff;
    background: no-repeat 10px 86px;  
}
.about_text-header{
    font-size: 30px;
    font-family: 'Open Sans Light';
}
.about-paragraf{
    margin: 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans Light';
}
.read-more{
    float: right;
    margin: 16px 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.first{
    background-image: url(../img/wrench.png);
}
.second{
    margin: 0 0px 0 1%;
    background-image: url(../img/cloud_second);  
}
.third{
    width: 30%;
    margin: 0 0px 0 1%;
    background-image: url(../img/note_third);
}

.main-stars {
    height: 605px;
    background: #f9f9f9;
}

.main-stars__column {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    background: #F20E0E;
    margin: 0 auto;
    padding-top: 98px;
    padding-left: 1%;
    box-sizing: border-box;
}

.main-stars__left_column {
    float: left;
    height: 272px;
    background: #ffffff;
    width: 45%;
    padding: 25px 35px;
    box-sizing: border-box;
    position: relative;
}

.main-stars__left_column:before {
    content: '';
    position: absolute;
    background: url(../img/fase.png) no-repeat;
    top: 15px;
    right: 0px;
    left: -29px;
    bottom: 0px;
}

.main__header {
    color: #454545;
    font-family: 'League Gothic Regular', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.main__header span {
    color: #edbfff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.font-thin {
    color: #454545;
    font-family: 'Open Sans Light', Arial, sans-serif;
    word-wrap: break-word;
    line-height: 24px;
}



