extends ../template
block variables
    - var title = 'Блог'
    - var title__pic = 'img class="section__title__pic" src="images/blog_header.png"'
block content
    include ../common/header.pug
    section.section.blog
        div.blog-decor
            //- div.blog-decor__triang.blog-decor__triang--left
            //-     svg.triangle.triangle_fill_white(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.006 1013.986")
            //-         path(fill-rule="evenodd" clip-rule="evenodd" fill="#ebefe2" d="M0.01,0l899.997,159.008v854.979H0L0.01,0z")
            //- div.blog-decor__triang.blog-decor__triang--right
            //-     svg.triangle.triangle_fill_beige(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 875.331 1009.986")
            //-         path(fill-rule="evenodd" clip-rule="evenodd" fill="#f4f5f0" d="M0,155.008L900.331,0l-0.005,1009.986H0V155.008z")
        div.blog__menu
            ul.articles__list
                li.articles__item 
                    a.articles__link.active Самое важное в SASS
                li.articles__item
                    a.articles__link Приёмы в вёрстке, без которых  не обходится ни один сайт
                li.articles__item
                    a.articles__link Самый необходимый набор Gulp плагинов
                li.articles__item
                    a.articles__link Почему я выбрал Jade
        div.blog__articles
            div.articles
                article.article
                    div.article__title  Самое важное в SASS
                    div.article__time
                        time.time(pubdate="22.11.2016")  22 ноября 2016
                    div.article__text 
                        p.
                            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        img(src="images/articles/articles_1.jpg", alt="") 
                article.article
                    div.article__title  Приёмы в вёрстке, без которых не обходится ни один сайт
                    div.article__time
                        time.time(pubdate="10.11.2016")  10 ноября 2016
                    div.article__text 
                        p.
                            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../common/footer.pug
