body {
	background-color: #282828;
}

.wrapper {
	margin: 0 auto;
	width: 1215px;
	padding: 40px 0;

}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

/*HEADER*/

.header {
	width: 1215px;
	height: 36px;
	background: url(../img/menu.jpg) 0 0 no-repeat;

}

.menu li {
	float: right;
}

.menu li a{
	display: block;
	text-decoration: none;
	line-height: 36px;
	padding: 0 14px;
	color: #60b5ed; 
}

.menu a:hover {
	background: #4eabda;
	color: #ffffff;
}

/*END HEADER*/

.content {
	width: 1215px;
	height: 1028px;
	background: url(../img/background.jpg) 0 0 no-repeat;
	position: relative;
}

.cadastre-se {
	top: 210px;
	left: 350px;
	position: absolute;
	width: 560px;
	height: 64px;
	margin: 0 auto;
	background-color: rgba(0, 0 , 0 , 0.5);
	color: #FFFFFF;
	text-align: center;
	line-height: 64px;
	font-size: 20px;
}

.ou {
	top: 276px;
	left: 350px;
	position: absolute;
	width: 560px;
	height: 548px;
	padding-top: 2px;
	margin: 2px auto;
	background-color: rgba(0, 0 , 0 , 0.5);
	color: #FFFFFF;

}

.layer_1 {
	margin: 23px 0 7px 142px;
	width: 560px;
}

.form {
	height: 35px;
	width: 256px;
	margin: 15px 0 0px 142px;
	background-color: #000000;
	padding-left: 20px;
}

.form:hover {
	background: #1b5288;
	color: #ffffff;
}

.send {
	height: 35px;
	width: 150px;
	margin: 23px 0 25px 205px;
	background-color: #4ba7d8;
	color: #FFFFFF;
}

.checkbox {
	margin: 23px 0 0 139px;

}

.down_text {

	text-align: center;
}



