* {
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    height: 100%;
    margin: auto;
}
.reviews {
    display: inline-block;
    width: 100%;
    background: url(../img/background.jpg) no-repeat;
    font-family: 'Trebuchet MS';
    background-size: cover;
    padding: 60px 0 80px;
    text-align: center;
}
.reviews__header {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #3170a8;
    margin-bottom: 50px;
}
.reviews__header_firstWorld {
    color: #ee8129;
}
.reviews__item {
    display: inline-block;
    /*width: 530px;*/
    margin: auto;
    margin-top: 51px;
    text-align: left;
}
.reviews__img {
    width: 98px;
    height: 98px;
    position: relative;
    margin-right: 22px;
}

.reviews__testimonius {
    position: relative;
    display: inline-block;

    max-width: 362px;
    background-color: #ffffff;
    vertical-align: top;
    margin-right: 40px;
    border: 1px solid #fff;

    /*bottom: 11px;*/

    /*padding: 18px 18px 24px;
    box-sizing: border-box;*/
}
.reviews__testimonius::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 35px;
    right: 359px;
    border: 14px solid;
    border-color: transparent #ffffff transparent transparent;
}

.reviews__testimonius-header {
    margin: 13px 20px 0 16px;
    font-style: italic;
    font-size: 13px;
    color: #3070a8;
    border-bottom: 1px dashed #666666;
    padding-bottom: 2px;
    overflow: hidden;
}

.reviews__name {
    float: left;
}
.reviews__customer {
    float: right;
}
.reviews__text {
    margin: 12px 20px 21px 16px;
    margin-top: 12px;
    font-size: 13px;
    color: #666666;
}
