span {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  display: none;
  padding: 3px;
}

 input {
  display: none;

}

label {
  display: inline-block;
  padding: 3px;
  text-decoration: underline;
  margin-right: 10px;
  cursor: pointer;
}
label[for="red"] {
   color: red;
}

label[for="green"] {
   color: green;
}
label[for="blue"] {
   color: blue;
}

#red:checked ~ .red {
  display: inline-block;
  background:rgb(255, 0, 0);
}

#green:checked ~ .green {
  display: inline-block;
  background:rgb(10, 97, 9);
}

#blue:checked ~ .blue {
  display: inline-block;
  background:rgb(29, 55, 224);
}
