.blog {
    padding: 65px 0;
    background-color: $liteyellow3;
    position: relative;
}
.blog-decor__triang {
    width: 50%;
    position: absolute;
    top: -167px;
    bottom: 0;
}
.blog-decor__triang--right {
    right: 0;
}
