/*INDEX*/
.containet {
	background: url('../images/water.jpg') no-repeat;
	background-size: cover;
	min-width: 100vw;
	min-height: 100vh;
}
.autorization {
	max-width: 380px;
	text-align: center;
	background: rgba(18, 38, 32, .6);
	border-radius: 5px;
}
.input__box {
	padding: 30px 20px;
}
input[name="login"], input[name="password"] {
	width: 100%;
	box-sizing: border-box;
	padding: 14px 0 14px 60px;
	color: #373e42;
	font-family: Roboto;
	font-size: 16px;
	border: none;
	border-radius: 50px;
}
input {
	margin-bottom: 20px;
}
