/*INDEX*/
.containet {
	background: url('../images/water.jpg') no-repeat;
	background-size: cover;
	min-width: 100vw;
	min-height: 100vh;
}
.autorization {
	min-width: 380px;
	text-align: center;
	background: rgba(18, 38, 32, .6);
	border-radius: 5px;
}
.input__box {
	padding: 30px 20px;
}
input[name="login"], input[name="password"] {
	width: 100%;
	box-sizing: border-box;
	padding: 14px 0 14px 60px;
	color: #373e42;
	font-family: Roboto;
	font-size: 16px;
	border: none;
	border-radius: 50px;
}
.input__login, .input__passworld {
	position: relative;
	margin-bottom: 20px;
	&::before {
		content: url('../images/icons/login.svg');
		background-color: $liteyellow;
		display: flex;
		justify-content: center;
    	align-items: center;
		width: 45px;
		position: absolute;
		left: 0;
		top:0;
		bottom: 0;
		border-radius: 50px 0 0 50px;
	}
}
.input__passworld::before {
	content: url('../images/icons/password.svg');
}
